.itensContainer {
  min-height: 62vh;
}

.itens {
  display: flex;
  align-items: center;
  width: 743px;
  height: 85px;
  margin: 10px 0;
  border-radius: 6px;
  background: #d9d9d9;
  justify-content: space-between;
}

.itens > div:nth-child(1) > p {
  font-size: 22px;
  font-weight: 700;
  margin-left: 22px;
  cursor: pointer;
}

.checked {
  text-decoration: line-through;
  color: #8b8585;
}

.itens > div:nth-child(1) {
  cursor: pointer;
  width: 100%;
}

.itens > div:nth-child(2) {
  display: flex;
  margin-right: 22px;
  gap: 22px;
}

.iconeDelete {
  cursor: pointer;
}
